.ao {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: row; /* Hiển thị theo hàng ngang */
    align-items: center; /* Căn chỉnh hàng giữa */
}

.ao img {
    max-width: 40%; 
}

.product-info {
    font-size: 20px;
    max-width: 80%;
}

.product-info h3,
.product-info h4 {
    margin: 10px 0; /* Loại bỏ margin mặc định để chữ không bị khoảng trống dư thừa */
}

.ao img:first-child {
    margin-right: 10px; /* Tạo khoảng cách giữa ảnh thứ nhất và chữ */
}

.ao img:last-child {
    margin-left: 10px; /* Tạo khoảng cách giữa ảnh thứ hai và chữ */
}
.bold-hr {
    border: 0;
    height: 3px; /* Điều chỉnh độ dày của đường ngang */
    background-color: black; /* Màu sắc của đường ngang */
    width: 210px;
}

